[submodule "src/momask_codes"]
	path = src/momask_codes
	url = https://github.com/Mamiglia/momask-codes.git
[submodule "src/TMR"]
	path = src/TMR
	url = https://github.com/Mamiglia/TMR.git
[submodule "src/bamm"]
	path = src/bamm
	url = https://github.com/Mamiglia/BAMM.git